.main-container {
  width: 20rem;
  margin-top: 4rem;
  background-color: #fdf6e6;
  padding: 40px 30px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.main-calendar-container {
  background-color: white;
  border: 1px solid rgba(119,119,199,.25);
  margin: 40px 0px;
}
