.exercise-input-container {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: .5rem;
}
.time-input-container {
  display: flex;
  border-radius: 1rem;
  justify-content: space-between;
}
.time-input-container > input {
  background-color: white;
  border-radius: 1rem;
}
.exerciselist-btn {
  background: none;
  border: none;
  color: #777777;
}
.submit-btn {
  border: none;
  background: rgba(1, 1, 1, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
svg {
  font-size: 16px;
  margin-right: 10px;
}
